<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Cadastros</title>
</head>
<body>
    <header class="cabecario">
        <img src="../img/logo.3.png"  class="logo-img">
        <div>
             <a href="index.html">Inicio</a>
             <a href="">Conheça a transvoer</a>
             <a href="contato.html">Contato</a>
        </div>
    </header>
    <section>

    </section>
</body>
</html>