<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/style-contato.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="cabecario">
        <img src="../img/logo.3.png"  class="logo-img">
        <div>
             <a href="index.html">Inicio</a>
             <a href="">Conheça a transvoer</a>
             <a href="">Ajuda</a>
        </div>
    </header>
    <section>
        <div class="sub-header">
            <div class="informacao">
                <h1>Fale conosco</h1>
                <p><i class="fas fa-map-marker-alt">&nbsp;Recife-PE</i></p>
                <p><i class="fas fa-phone">&nbsp;+55(81)00000-0000 </i></p>
                <p><i class="fas fa-envelope">&nbsp;transvoer@transvoer.com</i></p>
                <p><i class="fas fa-clock">&nbsp;Segunda-Feira á Sexta-Feira 09:00 - 18:00</i></p>
            </div>
        </div>
    </section>
    <section>
        <div class="formulario">
            <div class="formulario-header">
                <h2>Entre em contato</h2>
                <p>Envie sua mensagem preenchendo o formulário abaixo</p>
            </div>
            <div class="formulario-entradas">
                <div class="entradas">
                    <p>Nome</p>
                    <input type="text" name="" id="">
                    <p>Email</p>
                    <input type="email" name="" id="">
                    <p>Assunto</p>
                    <input type="text" name="" id="">
                    <p>Mensagem</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <p>Telefone</p>
                    <input type="number" name="" id="">
                </div> 
                <div class="botao-formulario">
                    <a href="" class="botao-ajuda">Enviar</a>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3755389591324!2d-34.87611568612534!3d-8.063122682799634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18a3179eebef%3A0x7caecfbcc5347f69!2sPorto%20Digital%20-%20NGPD%20(N%C3%BAcleo%20de%20Gest%C3%A3o%20do%20Porto%20Digital)!5e0!3m2!1spt-BR!2sbr!4v1619714145769!5m2!1spt-BR!2sbr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="rodape">
                <p>Copyright © 2021 - Todos Os Direitos Reservados - TRANSVOER  Exportação e Importação</p>
            </div>
        </div>
    </section>
</body>
</html>