<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/style.tela-restrita.empresa.css">
    <title>Tela inicial</title>
</head>
<body>
    <header class="cabecario">
        <img class= 'logo-img'src="../img/logo.3.png" alt="logo da empresa">
        <div id="atalhos">
            <a href="telaRestritaHomeEmpresa.html">Inicio</a>
            <a href="cadastros.html"><i class="fas fa-user-circle" style="font-size: 30px;"></i></a>
            <a href="sobre-a-plataforma.html"style="font-size: 30px;"><i class="fas fa-power-off"></i></a>
            <a href="contato.html"style="font-size: 30px;"><i class="fas fa-bell"></i></a>
        </div>
    </header>
    <main>
        <div class="apresentacao">
            <div class="container">
                <div class="campo-imagem">
                    <img src="../img/Ellipse 5.png" alt="imagem do usuário" style="max-width: 150px;">
                </div>
                <div class="campo-nome">
                    <p><span class="nome"></span></p>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div>
            <form action="" class="area-cadastro-carga">
                <div class="cadastro-carga">
                    <h2>Cadastro de Carga</h2>
                    <p>Local de Retirada:
                        <select name="" id="">
                            <option selected>Escolha</option>
                            <option value="">Recife</option>
                            <option value="">Paulista</option>
                        </select>
                    </p>
                    <p>Local de Entrega:
                        <input type="text" name="" id="">
                    </p>
                    <p>Identificação do Container:
                        <input type="text" name="" id="">
                    </p>
                    <p>Quantidade de Container:
                        <select name="" id="">
                            <option selected>1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </p> 
                    <p>Peso:
                        <input type="text" name="" id="">
                    </p>
                </div>
                <div class="manifesto-carga">
                    <h2>Manifesto da Carga</h2>
                    <input type="file"  name="" id=""><br>
                    <input type="file" name="" id="">
                    <div>
                        <a type="submit" href="" class="botao">Cadastrar</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="../js/telaHome.js"></script>
</body>
</html>