<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/style.tela-restrita.empresa.css">
    <link rel="stylesheet" href="../estilos/style.tela-restrita-home.css">
    <title>Tela inicial</title>
</head>
<body>
    <header class="cabecario">
        <img class= 'logo-img'src="../img/logo.3.png" alt="logo da empresa">
        <div id="atalhos">
            <a href="">Inicio</a>
            <a href="cadastros.html"><i class="fas fa-user-circle" style="font-size: 30px;"></i></a>
            <a href="sobre-a-plataforma.html"style="font-size: 30px;"><i class="fas fa-power-off"></i></a>
            <a href="contato.html"style="font-size: 30px;"><i class="fas fa-bell"></i></a>
        </div>
    </header>
    <main>
        <div class="apresentacao">
            <div class="container">
                <div class="campo-imagem">
                    <img src="../img/Ellipse 5.png" alt="imagem do usuário" style="max-width: 150px;">
                </div>
                <div class="campo-nome">
                    <p>Seja bem vindo <span class="nome"></span></p>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div class="area-cadastro-carga"> 
            <div class="cadastro-carga">
                <p>
                    <a href="telaRestritaEmpresa.html">Cadastrar Cargas <i class="fas fa-box-open"></i></a> 
                </p><br>
                <p>
                    <a href="">Confirmar Solicitação de Transporte <i style="color: #60BD64;" class="fas fa-check"></i></a>
                </p><br>
                <p>
                    <a href="">Acompanhamento de Carga <i class="fas fa-map-marked-alt"></i></a>
                </p>
            </div>
            <div class="caixa-2">
                <p>
                    <i class="far fa-comment-dots"></i>
                    <a href="">Chat</a>
                </p>
                <p>
                    <i class="fas fa-headset"></i>
                    <a href="">Suporte</a>
                </p>     
            </div>
        </div>
    </section>
    <script src="../js/telaHome.js"></script>
</body>
</html>